

.container{
    margin:30px 80px 0px 80px;
    width:90%;
    background-color:#ebf5f8;
  background-image:
    radial-gradient(closest-side, rgba(215, 231, 212, 1), rgba(215, 231, 212, 0)),
    radial-gradient(closest-side, rgba(227, 242, 255, 1), rgba(227, 242, 255, 0)),
    radial-gradient(closest-side, rgba(255, 235, 255, 1), rgba(255, 235, 255, 0)),
     radial-gradient(closest-side, rgba(198, 246, 247, 1), rgba(198, 246, 247, 0)),
     radial-gradient(closest-side, rgba(253, 248, 234, 1), rgba(253, 248, 234, 0));
  background-size:
    130vmax 130vmax;
    80vmax 80vmax;
    90vmax 90vmax;
    100vmax 110vmax;
    80vmax 80vmax;
  background-position:
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
  background-repeat: no-repeat;
  animation: 3s movement linear infinite;
   
    /* justify-content: center;  
    align-items: center;   */
}

@keyframes movement {
  0%, 100%{
     background-size:
    130vmax 130vmax;
    80vmax 80vmax;
    90vmax 90vmax;
    100vmax 110vmax;
    80vmax 80vmax;
  background-position:
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
  }
  
  25%{
    background-size:
    100vmax 100vmax;
    90vmax 90vmax;
    100vmax 100vmax;
    90vmax 90vmax;
    60vmax 60vmax;
  background-position:
    -60vmax -90vmax,
    50vmax -40vmax,
    0vmax -20vmax,
    -40vmax -20vmax,
    40vmax 60vmax;
}

.header{
    height:80px; 
    width:100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    .text{
        font-size:45px; 
        margin:0px 5% 0px 10%;
        font-family: Bayon;
        height:54px; 
        width:35%;
        display: flex;
        justify-content: flex-end; 
        align-items: center; 
    }
    .pic{
        width: 39px; 
        height: 37px; 
    }
}
@media (max-width:1050px){
    .header{
        height:150px; 
        width:100%; 
        display: flex;
        justify-content: flex-end; 
        align-items: center; 
        .text{
            font-size:40px; 
            margin:0px 5% 0px 5%;
            font-family:Bayon;
            height:154px; 
            width:35%;
            justify-content: flex-end; 
            align-items: center; 
        }
        .pic{
            width: 29px; 
            height: 29px; 
        }
    }
}
.search{
    border:2px solid gray;
    height:60px; 
    width:64%; 
    border-radius:50px;
    display: flex;
    justify-content: flex-start;  
    align-items: center; 
}

.body{
    margin: 0;
    min-height: 100vh;
    height:1853px; 
    width:100%; 
    justify-content: center;  
    align-items: center; 
}


@media (max-width:1530px){
    .body{
        height:2800px; 
        width:100%; 
        justify-content: center;  
        align-items: center; 
    }
}

@keyframes animate{
    20% {background: url(image/pic1.jpg); top:10px;left:10px}
    40% {background: url(image/pic2.jpg);top:20px;left:20px}
    60% {background: url(image/pic3.jpg);top:30px;left:30px}
    80% {background: url(image/pic4.jpg);top:40px;left:40px}
    100% {background: url(image/pic5.jpg);top:50px;left:50px}
}
.box{
    width:100%;
    height:291px;
    margin:30px 0px 30px 0px;
    background-color:gray;
}
.box-animation{
    animation-name:animate;
    animation-duration:10s;
    animation-iteration-count:infinite;
    /* ↑跑幾次動畫 infinite:無限次 */
    animation-delay:0s;
    /* ↑載入幾秒後開始跑 */
}
.body2{
    height:450px; 
    margin:0px 0px 40px 0px;
    width:100%; 
    display: flex;
    justify-content: center;  
    align-items: center; 
    .bodybody2{
        height:450px; 
        width:35%;
        margin:0% 10% 0% 10%;
        display: flex;
        flex-wrap:wrap;
        justify-content: flex-start;  
        align-items: space-around; 
    }
}

@media (max-width:1530px){
    .body2{
        height:850px; 
        margin:0px 0px 20px 0px;
        width:100%; 
        display: flex;
        justify-content: center;  
        align-items: center; 
        .bodybody2{
            height:650px; 
            width:35%;
            margin:0% 5% 0% 10%;
            display: flex;
            flex-wrap:wrap;
            justify-content: flex-start;  
            align-items: space-around; 
        }
    }
}


.body3{
    height:450px; 
    margin:10% 0px 40px 0px;
    width:100%; 
    display: flex;
    justify-content: space-around;  
    align-items: center; 
    .bodybody3{
        height:450px; 
        width:35%; 
        padding:0% 10% 0% 0%;
        display: flex;
        flex-wrap:wrap;
        flex-direction: column;
        justify-content: center;  
        align-items: space-around; 
    }
}

@media (max-width:1530px){
    .body3{
        height:650px; 
        margin:10% 0px 20px 0px;
        width:100%; 
        display: flex;
        justify-content: space-around;  
        align-items: center; 
        .bodybody3{
            height:650px; 
            width:35%; 
            padding:0% 5% 0% 0%;
            display: flex;
            flex-wrap:wrap;
            flex-direction: column;
            justify-content: center;  
            align-items: space-around; 
        }
    }
}

.body4{
    height:300px; 
    margin:0px 0px 40px 0px;
    width:100%; 
    display: flex;
    justify-content: space-around;  
    align-items: center; 
    .box-1{
        flex:1;
        width: 287px; 
        height: 182px; 
        margin:0px 8% 10px 0px; 
    }
    
    .box-2{
        flex:2;
        width: 287px; 
        height: 182px; 
        margin:0px 8% 10px 0px; 
    }
    
    .box-3{
        flex:3;
        width: 287px; 
        height: 182px; 
        margin:0px 8% 10px 0px; 
    }
    .bodybody4{
        height:450px; 
        width:30%; 
        padding:0% 0% 0% 0%;
        display: flex;
        flex-wrap:wrap;
        justify-content: space-around;  
        align-items: center; 
    }
}
@media (max-width:1530px){
    .body4{
        height:450px; 
        margin:0px 0px 0px 0px;
        width:100%; 
        display: flex;
        justify-content: space-around;  
        align-items: center; 
        .box-1{
            flex:1;
            width: 230px; 
            height: 145px; 
            margin:0px 8% 10px 0px; 
        }
        
        .box-2{
            flex:2;
            width: 230px; 
            height: 145px; 
            margin:0px 8% 10px 0px; 
        }
        
        .box-3{
            flex:3;
            width: 230px; 
            height: 145px; 
            margin:0px 8% 10px 0px; 
        }
        .bodybody4{
            height:850px; 
            width:30%; 
            padding:0% 0% 0% 0%;
            display: flex;
            flex-wrap:wrap;
            justify-content: space-around;  
            align-items: center; 
        }
    }
}

.row{
    margin:10px 0px 0px 0px;
    display: flex;
    justify-content: space-around;  
    align-items: center;
}
.circle{ 
    font-family: Noto Sans;
    flex-direction:row;
    border-radius:50px;
    display: flex;
    justify-content: center;  
    align-items: center; 
    border:2px solid gray;
    border-radius:50px;
    height:44px; 
    width:80px;
    cursor: pointer;
}

.footer{
    height:495px; 
    width:100%; 
    justify-content: center;  
    align-items: center; 
    .footertxt{
        font-size:40px;
        font-family:Bayon ;
        color:#000000; 
        margin:0px 0px 30px 0px;
    }
}

@media(max-width:1530px){
    .footer{
        height:495px; 
        width:100%; 
        justify-content: center;  
        align-items: center; 
        .footertxt{
            font-size:30px;
            font-family:Bayon ;
            color:#000000; 
            margin:0px 0px 30px 0px;
        }
    }
    
}

.row2{
    margin:0px 0px 50px 0px;
    display: flex;
    justify-content: flex-start;  
    align-items: center;
}
.circle2{ 
    margin:0px 30px 0px 0px;
    font-family: Noto Sans;
    flex-direction:row;
    display: flex;
    justify-content: center;  
    align-items: center; 
    width:40px; 
    height:40px;
    border-radius:20px;
    background-color:gray;
    height:40px; 
    width:40px;
}
.bottom{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin:159px 0px 0px 0px;
    width:100%;
    height:60px;
    background-color:gray;
    color:#F7FBDA;
    font-size:12px;
    font-family:"Noto sans";
}

#line {
    /* transform: rotate(90deg); */
    color: #000000;
    width:100%;
    font-size: 30px;
}
